In [1]:
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [2]:
filename = '../data/olympic_athlete_events.csv'

df = pd.read_csv(filename,
                usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'Sport', 'Medal'])

df = df[df['Team'].isin(['Great Britain', 'France', 'United States', 'Switzerland', 'China', 'India'])]
df = df[df['Year'] >= 1980]

df.head()

     Age  Height           Team  Year  Season                 Sport Medal
0   24.0   180.0          China  1992  Summer            Basketball   NaN
1   23.0   170.0          China  2012  Summer                  Judo   NaN
10  31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
11  31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
12  31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN

# Beyond 1

Create a pivot table that shows the number of medals that each team won per year, with the index including not just the year but also the season in which the games took place.

In [3]:
pd.pivot_table(df, index=['Year', 'Season'], columns='Team', values='Medal', aggfunc=np.size)

Team         China  France  Great Britain  India  Switzerland  United States
Year Season
1980 Summer    NaN   200.0          328.0   78.0         86.0            NaN
     Winter   38.0    44.0           56.0    NaN         61.0          131.0
1984 Summer  323.0   354.0          509.0   53.0        245.0          693.0
     Winter   70.0    57.0           60.0    NaN         67.0          128.0
1988 Summer  423.0   413.0          468.0   55.0        151.0          715.0
     Winter   15.0   111.0           79.0    3.0        114.0          171.0
1992 Summer  378.0   476.0          500.0   61.0        171.0          728.0
     Winter   74.0   166.0           78.0    4.0        117.0          208.0
1994 Winter   43.0   153.0           39.0    NaN         94.0          215.0
1996 Summer  418.0   445.0          379.0   54.0        172.0          827.0
1998 Winter   88.0   145.0           41.0    1.0        106.0          260.0
2000 Summer  392.0   466.0          403.0   70.0        138.0          748.0
2002 Winter  102.0   164.0           54.0    1.0        155.0          285.0
2004 Summer  490.0   453.0          352.0   81.0        134.0          706.0
2006 Winter  140.0   155.0           54.0    5.0        165.0          295.0
2008 Summer  708.0   441.0          413.0   67.0        112.0          744.0
2010 Winter  121.0   192.0           68.0    3.0        186.0          303.0
2012 Summer  463.0   422.0          672.0   91.0        122.0          669.0
2014 Winter  105.0   189.0           70.0    2.0        215.0          333.0
2016 Summer  483.0   504.0          470.0  130.0        148.0          699.0

# Beyond 2

Create a pivot table that shows both the average age the the average height per year, per team.

In [4]:
pd.pivot_table(df, index='Year', columns='Team', values=['Age', 'Height'], aggfunc=np.max)

       Age                                                      Height         \
Team China France Great Britain India Switzerland United States  China France
Year
1980  32.0   34.0          37.0  56.0        47.0          32.0  170.0  203.0
1984  30.0   50.0          47.0  45.0        52.0          49.0  216.0  214.0
1988  34.0   43.0          55.0  36.0        47.0          52.0  210.0  203.0
1992  35.0   47.0          48.0  38.0        53.0          54.0  215.0  203.0
1994  29.0   33.0          36.0   NaN        35.0          36.0  181.0  195.0
1996  39.0   53.0          48.0  46.0        49.0          50.0  215.0  201.0
1998  29.0   34.0          36.0  16.0        37.0          40.0  185.0  198.0
2000  39.0   46.0          52.0  38.0        53.0          46.0  226.0  218.0
2002  30.0   38.0          40.0  20.0        36.0          48.0  188.0  190.0
2004  43.0   50.0          48.0  43.0        55.0          52.0  226.0  202.0
2006  32.0   38.0          40.0  29.0        42.0          44.0  188.0  190.0
2008  45.0   51.0          53.0  42.0        45.0          58.0  226.0  203.0
2010  34.0   38.0          45.0  28.0        41.0          40.0  194.0  191.0
2012  41.0   49.0          56.0  39.0        49.0          54.0  221.0  208.0
2014  32.0   37.0          41.0  30.0        42.0          45.0  193.0  191.0
2016  38.0   53.0          60.0  43.0        50.0          52.0  218.0  215.0


Team Great Britain  India Switzerland United States
Year
1980         205.0  196.0       197.0         193.0
1984         203.0  188.0       204.0         213.0
1988         205.0  193.0       204.0         216.0
1992         205.0  188.0       200.0         216.0
1994         185.0    NaN       192.0         193.0
1996         205.0  191.0       200.0         216.0
1998         185.0  183.0       192.0         195.0
2000         204.0  195.0       197.0         207.0
2002         193.0  183.0       192.0         193.0
2004         207.0  195.0       197.0         213.0
2006         193.0  183.0       193.0         195.0
2008         207.0  192.0       197.0         211.0
2010         193.0  183.0       203.0         193.0
2012         211.0  196.0       198.0         216.0
2014         193.0  173.0       200.0         196.0
2016         207.0  200.0       194.0         211.0

# Beyond 3

 Create a pivot table that shows both the average age the the average height per year, per team, broken up by year and season.

In [5]:
pd.pivot_table(df, index=['Year', 'Season'], columns='Team', values=['Age', 'Height'], aggfunc=np.max)

              Age                                                      Height  \
Team        China France Great Britain India Switzerland United States  China
Year Season
1980 Summer   NaN   34.0          37.0  56.0        47.0           NaN    NaN
     Winter  32.0   29.0          36.0   NaN        33.0          32.0  170.0
1984 Summer  30.0   50.0          47.0  45.0        52.0          49.0  216.0
     Winter  28.0   36.0          34.0   NaN        30.0          34.0  176.0
1988 Summer  34.0   43.0          55.0  36.0        47.0          52.0  210.0
     Winter  24.0   39.0          29.0  24.0        34.0          39.0  181.0
1992 Summer  35.0   47.0          48.0  38.0        53.0          54.0  215.0
     Winter  29.0   32.0          30.0  21.0        32.0          36.0  181.0
1994 Winter  29.0   33.0          36.0   NaN        35.0          36.0  181.0
1996 Summer  39.0   53.0          48.0  46.0        49.0          50.0  215.0
1998 Winter  29.0   34.0          36.0  16.0        37.0          40.0  185.0
2000 Summer  39.0   46.0          52.0  38.0        53.0          46.0  226.0
2002 Winter  30.0   38.0          40.0  20.0        36.0          48.0  188.0
2004 Summer  43.0   50.0          48.0  43.0        55.0          52.0  226.0
2006 Winter  32.0   38.0          40.0  29.0        42.0          44.0  188.0
2008 Summer  45.0   51.0          53.0  42.0        45.0          58.0  226.0
2010 Winter  34.0   38.0          45.0  28.0        41.0          40.0  194.0
2012 Summer  41.0   49.0          56.0  39.0        49.0          54.0  221.0
2014 Winter  32.0   37.0          41.0  30.0        42.0          45.0  193.0
2016 Summer  38.0   53.0          60.0  43.0        50.0          52.0  218.0


Team        France Great Britain  India Switzerland United States
Year Season
1980 Summer  203.0         205.0  196.0       197.0           NaN
     Winter  185.0         183.0    NaN       186.0         193.0
1984 Summer  214.0         203.0  188.0       204.0         213.0
     Winter  185.0         189.0    NaN       184.0         193.0
1988 Summer  203.0         205.0  193.0       204.0         216.0
     Winter  195.0         186.0    NaN       189.0         193.0
1992 Summer  203.0         205.0  188.0       200.0         216.0
     Winter  194.0         184.0    NaN       192.0         193.0
1994 Winter  195.0         185.0    NaN       192.0         193.0
1996 Summer  201.0         205.0  191.0       200.0         216.0
1998 Winter  198.0         185.0  183.0       192.0         195.0
2000 Summer  218.0         204.0  195.0       197.0         207.0
2002 Winter  190.0         193.0  183.0       192.0         193.0
2004 Summer  202.0         207.0  195.0       197.0         213.0
2006 Winter  190.0         193.0  183.0       193.0         195.0
2008 Summer  203.0         207.0  192.0       197.0         211.0
2010 Winter  191.0         193.0  183.0       203.0         193.0
2012 Summer  208.0         211.0  196.0       198.0         216.0
2014 Winter  191.0         193.0  173.0       200.0         196.0
2016 Summer  215.0         207.0  200.0       194.0         211.0