In [8]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
                usecols=['passenger_count',
                         'total_amount' , 
                         'payment_type'],
                dtype={'passenger_count': np.float32, 
                       'total_amount': np.float32, 
                       'payment_type': np.float32})
df

         passenger_count  payment_type  total_amount
0                    1.0           1.0     11.270000
1                    1.0           1.0     12.300000
2                    1.0           1.0     10.800000
3                    1.0           1.0      8.160000
4                    1.0           2.0      4.800000
...                  ...           ...           ...
6405003              NaN           NaN     21.139999
6405004              NaN           NaN     62.459999
6405005              NaN           NaN     51.900002
6405006              NaN           NaN     30.219999
6405007              NaN           NaN     58.110001

[6405008 rows x 3 columns]

In [9]:
df.shape

(6405008, 3)

In [10]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6405008
dtype: int64

In [11]:
df = df.dropna().copy()

In [12]:
df2 = df.dropna()

In [13]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6339567
dtype: int64

In [14]:
df['passenger_count'] = df['passenger_count'].astype(np.int8)

In [15]:
df['payment_type'] = df['payment_type'].astype(np.int8)

In [16]:
df

         passenger_count  payment_type  total_amount
0                      1             1     11.270000
1                      1             1     12.300000
2                      1             1     10.800000
3                      1             1      8.160000
4                      1             2      4.800000
...                  ...           ...           ...
6339562                1             1     17.760000
6339563                1             1     20.160000
6339564                1             1     19.559999
6339565                1             2     12.300000
6339566                1             1      0.000000

[6339567 rows x 3 columns]