In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Load the CSV file with results from the Python survey into a data frame.
py_filename = '../data/2020_sharing_data_outside.csv'

py_df = pd.read_csv(py_filename, low_memory=False)

In [3]:
s = 'abcd.efgh.ijkl'
s.rsplit('.', 1)

['abcd.efgh', 'ijkl']

In [4]:
# Rename some columns

general_columns = ['age',
                   'are.you.datascientist',
                   'is.python.main',
                   'company.size',
                   'country.live',
                   'employment.status',
                   'first.learn.about.main.ide',
                   'how.often.use.main.ide',
                   'is.python.main',
                   'main.purposes'
                   'missing.features.main.ide'
                   'nps.main.ide',
                   'python.version.most',
                   'python.years',
                   'python2.version.most',
                   'python3.version.most',
                   'several.projects',
                   'team.size',
                   'use.python.most',
                   'years.of.coding'
                  ]

# Use the function `pd.MultiIndex.from_tuples` to create the multi-index, 
# and then reassign it back to `df.columns`. 

def column_multi_name(column_name):
    if column_name in general_columns:
        return ('general', column_name)
    else:
        first, rest = column_name.rsplit('.', 1)
        return (first, rest)
    
py_df.columns = pd.MultiIndex.from_tuples([column_multi_name(one_column_name)
                  for one_column_name in py_df.columns    ])

In [5]:
# Sort the columns, such that they're in alphabetical order. 
py_df = py_df[sorted(py_df.columns)]

In [6]:
# What are the five most popular IDEs used for editing Python?
py_df[('ide', 'main')].value_counts().head(10)

VS Code                         8010
PyCharm Professional Edition    5144
PyCharm Community Edition       3815
Vim                             2176
Sublime Text                    1201
Jupyter Notebook                1167
Atom                             784
None                             738
Other                            711
Emacs                            636
Name: (ide, main), dtype: int64

In [7]:
# Which 10 IDEs were most commonly listed as the main editor (i.e., in the `ide` column)?
py_df['ide'].value_counts().head(10)

main
VS Code                         8010
PyCharm Professional Edition    5144
PyCharm Community Edition       3815
Vim                             2176
Sublime Text                    1201
Jupyter Notebook                1167
Atom                             784
None                             738
Other                            711
Emacs                            636
dtype: int64

In [8]:
# Which 10 other programming languages are most commonly used by Python developers?
py_df['other.lang'].count().sort_values(ascending=False).head(10)

JavaScript      16662
HTML/CSS        15469
Bash / Shell    13793
SQL             13391
C/C++           11623
Java             8109
None             6402
C#               4460
PHP              4060
TypeScript       3717
dtype: int64

In [9]:
py_df['general', 'country.live'].value_counts().head(10)

United States         3975
India                 2800
Germany               1807
China                 1155
United Kingdom        1110
France                1078
Russian Federation     935
Other country          880
Brazil                 812
Canada                 644
Name: (general, country.live), dtype: int64

In [10]:
# According to the Python survey, what proportion of Python developers have each level of experience?

py_df[('general', 'python.years')].value_counts(normalize=True)

3–5 years           0.284272
Less than 1 year    0.239542
1–2 years           0.224834
6–10 years          0.154939
11+ years           0.096413
Name: (general, python.years), dtype: float64

In [11]:
# Which country has the greatest number of Python developers with 11+ years of experience?
py_df['general'][py_df[('general','python.years')] == '11+ years'].groupby('country.live')['python.years'].count().sort_values(ascending=False).head(1)

country.live
United States    691
Name: python.years, dtype: int64

In [12]:
# Proportion of Python devs per country with 11+years experience
country_experience = py_df['general'][['country.live', 'python.years']]
all_per_country = country_experience['country.live'].value_counts()

In [13]:
expert_per_country = country_experience.loc[country_experience['python.years'] == '11+ years', 'country.live'].value_counts()

In [14]:
(expert_per_country / all_per_country).sort_values(ascending=False).dropna().head(10)

Norway            0.265432
Ireland           0.225490
Australia         0.225420
Belgium           0.225108
Slovenia          0.224490
New Zealand       0.197917
Sweden            0.194030
Finland           0.190141
United Kingdom    0.186486
Austria           0.186170
Name: country.live, dtype: float64

In [15]:
# Load the CSV file with results from the Stack Overflow survey into a data frame.
so_filename = '../data/so_2021_survey_results.csv'

so_df = pd.read_csv(so_filename, low_memory=False)

In [16]:
so_df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [17]:
# Show the average salary for different types of employment. 
# Contractors and freelancers like to say that they earn more than full-time employees. 
# What does the data here show us?

so_df.groupby('Employment')['ConvertedCompYearly'].mean().sort_values(ascending=False).dropna().apply(lambda n: f'{n:,.2f}')

Employment
I prefer not to say                                     1,455,643.25
Employed full-time                                        121,369.67
Independent contractor, freelancer, or self-employed      107,433.97
Retired                                                    69,533.25
Employed part-time                                         41,136.12
Name: ConvertedCompYearly, dtype: object

In [18]:
# Create a pivot table in which the index contains countries, 
# the columns are education levels, 
# and the cells contain the average salary for each education level per country.

pd.options.display.float_format = '{:,.2f}'.format
so_df.pivot_table(index='Country', columns='EdLevel', values='ConvertedCompYearly')

EdLevel,"Associate degree (A.A., A.S., etc.)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other doctoral degree (Ph.D., Ed.D., etc.)",Primary/elementary school,"Professional degree (JD, MD, etc.)","Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",Some college/university study without earning a degree,Something else
Country,,,,,,,,,
Afghanistan,NaN,"30,288.00","10,176,704.00",NaN,NaN,NaN,100.00,NaN,NaN
Albania,NaN,"19,152.86","80,127.62",NaN,NaN,"5,298.00","19,890.00","22,884.00","128,522.00"
Algeria,NaN,"21,770.67","15,052.57",NaN,NaN,"12,912.00",NaN,"6,288.00",NaN
Andorra,NaN,"94,045.50","22,056.00","146,981.00",NaN,NaN,NaN,NaN,NaN
Angola,NaN,"31,500.00",NaN,NaN,NaN,NaN,"18,678.00","6,904.00",NaN
...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",NaN,"30,108.77","28,680.00",NaN,"7,200.00","14,833.29","10,200.00","17,720.57",NaN
Viet Nam,"7,827.00","18,463.11","50,599.80","2,592.00","10,479.00","30,000.00",NaN,"18,866.19",NaN
Yemen,NaN,"5,628.67",NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,"40,173.00","4,908.00",NaN,NaN,NaN,"4,482.00","12,105.33","8,184.00"
Zimbabwe,"36,000.00","8,399.27",NaN,NaN,NaN,NaN,NaN,"20,000.00",NaN

In [19]:
# Load the CSV file with OECD data
oecd_filename = '../data/oecd_locations.csv'

oecd_df = pd.read_csv(oecd_filename, header=None, index_col=1, names=['abbrev', 'Country'])

In [20]:
# Create this pivot table again, only including countries in our OECD subset.
oecd_df.join(so_df.set_index('Country')).pivot_table(index='Country',
                                                     columns='EdLevel', 
                                                     values='ConvertedCompYearly')

EdLevel,"Associate degree (A.A., A.S., etc.)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other doctoral degree (Ph.D., Ed.D., etc.)",Primary/elementary school,"Professional degree (JD, MD, etc.)","Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",Some college/university study without earning a degree,Something else
Country,,,,,,,,,
Australia,"117,049.64","180,794.16","106,794.32","150,234.96","153,327.50","108,725.00","158,931.28","127,063.53","231,987.17"
Austria,"43,623.38","66,096.13","77,645.66","74,783.17","86,877.00","38,915.33","47,438.83","53,906.05","45,772.53"
Belgium,"35,664.00","68,474.70","88,580.41","80,832.44","11,342,349.25","71,000.20","43,224.13","88,006.29","27,035.50"
Brazil,"25,347.42","47,681.23","42,056.01","43,123.21","7,880.00","25,449.67","15,072.89","39,978.02","20,288.71"
Canada,"87,930.35","140,668.24","144,733.35","102,989.35","73,787.83","82,953.40","180,584.81","155,090.08","60,795.17"
Denmark,"80,217.33","80,430.94","115,751.85","102,785.19","91,056.57","114,144.89","90,411.74","85,131.35","95,479.86"
Finland,"282,353.67","69,381.34","74,360.98","61,508.25","77,832.00","83,016.00","59,424.32","89,255.56","35,024.00"
France,"54,394.89","65,062.38","94,585.73","140,402.86","34,181.00","78,342.27","53,981.81","55,119.45","42,884.04"
Germany,"98,530.52","102,751.23","110,611.98","108,718.46","74,943.67","97,330.14","82,865.84","95,737.77","109,333.99"
Hungary,"51,041.00","48,756.45","46,771.71","52,833.60","48,100.00","9,852.00","33,440.80","37,102.89","28,911.00"
Israel,"146,420.90","124,973.40","128,492.71","131,812.62","100,514.57","132,336.00","97,938.78","130,049.04","96,142.50"
Italy,"36,427.94","73,697.22","79,132.19","93,490.78","525,992.17","117,121.37","75,114.40","81,531.72","32,690.22"
Japan,"143,196.83","85,821.47","130,143.19","157,239.40","44,965.00",NaN,"57,916.40","91,163.04","194,514.00"

In [21]:
# In which of these countries does someone with an associate degree earn the most? 
oecd_df.join(so_df.set_index('Country')).pivot_table(index='Country',
                                                     columns='EdLevel', 
                                                     values='ConvertedCompYearly')['Associate degree (A.A., A.S., etc.)'].sort_values(ascending=False)

Country
Finland     282,353.67
Israel      146,420.90
Japan       143,196.83
Australia   117,049.64
Germany      98,530.52
Canada       87,930.35
Denmark      80,217.33
France       54,394.89
Hungary      51,041.00
Austria      43,623.38
Italy        36,427.94
Belgium      35,664.00
Brazil       25,347.42
Name: Associate degree (A.A., A.S., etc.), dtype: float64

In [22]:
# In which of them does someone with a doctoral degree earn the most?
# In which of these countries does someone with an associate degree earn the most? 
oecd_df.join(so_df.set_index('Country')).pivot_table(index='Country',
                                                     columns='EdLevel', 
                                                     values='ConvertedCompYearly')['Other doctoral degree (Ph.D., Ed.D., etc.)'].sort_values(ascending=False)

Country
Japan       157,239.40
Australia   150,234.96
France      140,402.86
Israel      131,812.62
Germany     108,718.46
Canada      102,989.35
Denmark     102,785.19
Italy        93,490.78
Belgium      80,832.44
Austria      74,783.17
Finland      61,508.25
Hungary      52,833.60
Brazil       43,123.21
Name: Other doctoral degree (Ph.D., Ed.D., etc.), dtype: float64

In [23]:
# Remove rows from `so_df` in which `LanguageHaveWorkedWith` is `NaN`.
so_df = so_df[~so_df['LanguageHaveWorkedWith'].isna()]

In [24]:
py_df.shape

(54462, 264)

In [25]:
# Remove rows from `so_df` in which Python isn't included 
# as a commonly used language (`LanguageHaveWorkedWith`).
so_df = so_df[so_df['LanguageHaveWorkedWith'].str.contains('Python')]

In [26]:
# How many rows remain?
so_df.shape

(39792, 48)

In [27]:
# Remove rows from `so_df` in which `YearsCode` is `NaN`.
so_df = so_df[~so_df['YearsCode'].isna()]

In [28]:
# How many rows remain?
so_df.shape

(38997, 48)

In [29]:
so_df.loc[so_df['YearsCode'] == 'Less than 1 year', 'YearsCode'] = 0
so_df.loc[so_df['YearsCode'] == 'More than 50 years', 'YearsCode'] = 51

In [30]:
so_df['YearsCode'] = so_df['YearsCode'].astype(int)

In [31]:
# Create a new column in `so_df`, called `experience`, which will categorize the values in `YearsCode`

so_df['experience'] = pd.cut(so_df['YearsCode'],
       bins=[-1, 1, 2, 5, 10, 100],
      labels=['Less than 1 year', 
      '1-2 years', 
      '3-5 years',
      '6-10 years',
      '11+ years'])

In [32]:
# According to the Python survey, what proportion of Python developers have each level of experience?
so_df['experience'].value_counts(normalize=True)

11+ years          0.37
6-10 years         0.32
3-5 years          0.22
1-2 years          0.05
Less than 1 year   0.04
Name: experience, dtype: float64