In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

filename = '../data/cities.json'
df = pd.read_json(filename)

Populating the interactive namespace from numpy and matplotlib

In [2]:
# What are the mean and median populations for these 1,000 largest cities?
# What does that tell us?

df['population'].describe()[['mean', '50%']]

mean    131132.443
50%      68207.000
Name: population, dtype: float64

In [3]:
# Along these lines: If we remove the 50 most populous cities, 
# what happens to the mean population?  What happens to the median?
df.loc[50:, 'population'].describe()[['mean', '50%']]

mean    87027.387368
50%     65796.000000
Name: population, dtype: float64

In [4]:
# What is the northernmost city, and where does it rank?
df.loc[df['latitude'] == df['latitude'].max(), ['city', 'state', 'rank']]

         city   state  rank
62  Anchorage  Alaska    63

In [5]:
# Which state has the largest number of cities in this list?
df['state'].value_counts().head(1)

California    212
Name: state, dtype: int64

In [6]:
# Which state has the smallest number of cities in this list?
df['state'].value_counts().tail(5)

Vermont                 1
Maine                   1
Hawaii                  1
Alaska                  1
District of Columbia    1
Name: state, dtype: int64