In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('../data/nyc_taxi_2019-01.csv',
                usecols=['passenger_count', 'trip_distance',
                        'total_amount', 'payment_type'])

Populating the interactive namespace from numpy and matplotlib

In [2]:
# How many taxi rides had more than 8 passengers?
df.loc[df['passenger_count'] > 8, 'passenger_count'].count()

9

In [3]:
# How many taxi rides had zero passengers?
df.loc[df['passenger_count'] == 0, 'passenger_count'].count()

117381

In [4]:
# How many taxi rides were paid for in cash, and cost more than $1,000?
df.loc[(df['payment_type'] == 2) & (df['total_amount'] > 1000), 
       'passenger_count'].count()

5

In [5]:
# How many rides cost less than 0?
df.loc[df['total_amount'] < 0, 'total_amount'].count()

7131

In [6]:
# How many rides traveled a below-average distance, but cost an above-average amount?
df.loc[(df['trip_distance'] < df['trip_distance'].mean()) &
       (df['total_amount'] > df['total_amount'].mean()), 'trip_distance'].count()

411255