In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Import the wti-daily.csv file into a data frame, in which the Date column is both
# treated as a datetime value, and is set to be the index.

filename = '../data/wti-daily.csv'

df = pd.read_csv(filename,
                parse_dates=['Date'],
                index_col=['Date'])

df.head()

            Price
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

In [3]:
# What was the average price of a barrel of oil in June, 1992?
df.loc['1992-06'].mean()

Price    22.384545
dtype: float64

In [4]:
# What was the average price of a barrel of oil in all of 1987?
df.loc['1987'].mean()

Price    19.200512
dtype: float64

In [5]:
# What was the average price from September 2003 through July 2014?
df.loc['2003-09':'2014-07'].mean()

Price    76.457834
dtype: float64

In [6]:
# Show the price of oil at the end of each quarter in the data set
df[df.index.is_quarter_end]

            Price
Date
1986-03-31  10.25
1986-06-30  12.80
1986-09-30  14.70
1986-12-31  17.93
1987-03-31  18.82
...           ...
2020-09-30  40.05
2020-12-31  48.35
2021-03-31  59.19
2021-06-30  73.52
2021-09-30  75.22

[99 rows x 1 columns]

In [7]:
# For each year in the data set, show the average price
df.resample('1Y').mean()

                Price
Date
1986-12-31  15.047689
1987-12-31  19.200512
1988-12-31  15.965409
1989-12-31  19.635486
1990-12-31  24.526576
1991-12-31  21.541367
1992-12-31  20.575564
1993-12-31  18.432200
1994-12-31  17.196429
1995-12-31  18.428805
1996-12-31  22.119173
1997-12-31  20.608254
1998-12-31  14.422072
1999-12-31  19.344980
2000-12-31  30.378520
2001-12-31  25.983120
2002-12-31  26.184960
2003-12-31  31.075240
2004-12-31  41.506024
2005-12-31  56.637251
2006-12-31  66.054659
2007-12-31  72.340595
2008-12-31  99.671502
2009-12-31  61.950437
2010-12-31  79.475714
2011-12-31  94.880873
2012-12-31  94.053333
2013-12-31  97.982540
2014-12-31  93.172222
2015-12-31  48.656706
2016-12-31  43.293651
2017-12-31  50.800320
2018-12-31  65.227470
2019-12-31  56.988320
2020-12-31  39.160437
2021-12-31  67.917119

In [8]:
# On which date were oil prices the highest? When were they the lowest?
df['Price'].sort_values().iloc[[0, -1]]

Date
2020-04-20    -36.98
2008-07-03    145.31
Name: Price, dtype: float64