In [1]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv',
                header=None,
                names=['date', 'value'])

In [2]:
df.tail(1)['value']

365    36497.35
Name: value, dtype: float64

In [3]:
df.loc[df['value'] == df['value'].min(), ['date', 'value']]

                  date     value
8  2022-11-22 00:00:00  15759.61

In [4]:
df.loc[df['value'] == df['value'].max(), ['date', 'value']]

                    date     value
362  2023-11-11 00:00:00  37321.65

In [5]:
df.set_index('date').idxmin()

value    2022-11-22 00:00:00
dtype: object

In [6]:
df.set_index('date').idxmax()

value    2023-11-11 00:00:00
dtype: object

In [7]:
df.set_index('date').agg(['idxmin', 'idxmax'])

                      value
idxmin  2022-11-22 00:00:00
idxmax  2023-11-11 00:00:00