In [6]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
filename = '../data/nyc-parking-violations-2020.csv'

df = pd.read_csv(filename,
                 usecols=['Plate ID',  'Registration State',
                        'Vehicle Make', 'Vehicle Color', 'Street Name'])

df.head()

  Plate ID Registration State Vehicle Make      Street Name Vehicle Color
0   J58JKX                 NJ        HONDA            43 ST            BK
1  KRE6058                 PA        ME/BE         UNION ST           BLK
2  444326R                 NJ        LEXUS  CLERMONT AVENUE         BLACK
3  F728330                 OH        CHEVR     DIVISION AVE           NaN
4  FMY9090                 NY         JEEP         GRAND ST          GREY

In [8]:
np.random.seed(0)
df['Vehicle Color'].sample(30).to_csv()

',Vehicle Color\n2752511,RED\n964568,BLUE\n5049760,BK\n4248515,GY\n6899272,RED\n11549116,BL\n9816025,BK\n11346931,WH\n2772528,BK\n3663790,WH\n7179841,WH\n661128,BLUE\n5401291,BLACK\n526821,WHITE\n4014922,BK\n6166605,RED\n11905504,BLACK\n428139,BK\n5328844,WHITE\n492842,SILVE\n920426,BL\n1979514,GY\n2105457,WH\n11996578,RD\n3992380,WH\n12480694,GY\n1009122,GY\n9539409,WH\n11521484,BK\n8954222,WHITE\n'

In [5]:
# How many different colors are there?
len(df['Vehicle Color'].value_counts().index)

1896

In [4]:
# Look at the 30 most common colors, and identify colors that appear multiple times, but written differently.
# For example, the color `WHITE` is also written as `WT` and also as `WT.` and also as `WHT`.

df['Vehicle Color'].value_counts().head(30)

WH       2344858
GY       2307704
BK       2066374
WHITE    1061234
BL        775124
RD        483298
BLACK     465110
GREY      306787
BROWN     292348
SILVE     191477
GR        182929
BLUE      178298
RED       161693
TN        120576
BR        102204
YW         98700
BLK        91539
OTHER      60245
GREEN      58765
GL         54851
GRY        46527
MR         42812
GRAY       40854
WHT        35433
YELLO      32792
WHI        29760
OR         28100
BK.        27830
WT         25583
WT.        24593
Name: Vehicle Color, dtype: int64

In [5]:
# Prepare a Python dict in which the keys represent the various color-name inputs, 
# and the values represent the values that you want them to have in the end. 
# I suggest aiming to use the longer names, such as `WHITE`, rather than the shorter ones.

colormap = {'WH': 'WHITE', 
          'GY':'GRAY', 
             'BK':'BLACK',
             'BL':'BLUE',
             'RD':'RED', 
             'GR':'GRAY',
             'TN':'TAN',
             'BR':'BROWN', 
             'YW':'YELLO', 
             'BLK':'BLACK',
             'GRY':'GRAY', 
             'WHT':'WHITE', 
             'WHI':'WHITE', 
             'OR':'ORANG',
             'BK.':'BLACK',
             'WT':'WHITE',
            'WT.':'WHITE'}

In [6]:
# Replace the existing (old) colors with your translations.  
df['Vehicle Color'] = df['Vehicle Color'].replace(colormap)

In [7]:
# How many colors are there now?
df['Vehicle Color'].value_counts().shape[0]

1879

In [8]:
# Look through the top 50 colors, now that you have removed a bunch of them.
# Are there any you could still clean up? Are there any you cannot figure out? 
# Can you identify some consistent typos and errors in the colors?

# There are still a lot of inconsistent colors. Many have a period (.) after the name,
# and others have a slash (/) after the name, which is a typo probably caused by . and /
# being next to each other on the keyboard. I'll guess that LTGY is "light gray", but
# is there any standardization to the color list? What are "MR", "PR", and "GYGY"?

# Note: Never let users enter text into a field if you can instead give them a 
# menu from which to choose. It avoids these problems!

df['Vehicle Color'].value_counts().head(50)

WHITE    3521461
BLACK    2650853
GRAY     2578014
BLUE      953422
RED       644991
BROWN     394552
GREY      306787
SILVE     191477
TAN       141667
YELLO     131492
OTHER      60245
GREEN      58765
GL         54851
MR         42812
ORANG      39606
GY.        22460
GOLD       21687
SIL        20116
BLU        15240
SL.        13145
LTGY       13055
SL         10343
LTG        10093
BL.         9649
LT/         8976
PR          7518
DK/         7498
W           7367
RD.         7128
DKGY        6004
GYGY        5039
BLK.        4853
GRN         4829
B           4145
WH.         3811
BRO         3802
DKG         3702
PURPL       3635
BRN         3582
BKGY        3504
WHBL        3489
DKBL        2912
GN          2883
WHT.        2796
BN          2787
BLUE.       2638
WHGY        2381
UNKNO       2205
RED.        2141
BRW         2081
Name: Vehicle Color, dtype: int64