In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [2]:
filename = '../data/nyc-parking-violations-2020.csv'

df = pd.read_csv(filename,
                 usecols=['Plate ID',  'Registration State',
                        'Vehicle Make', 'Vehicle Color', 'Violation Time', 'Street Name'])

df.head()

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY

# Beyond 1

So far, we have specified which columns must all be non-null. But sometimes, it's OK for some number of columns to have null values, so long as it's not too many. How many rows would we eliminate if we require at least three non-null values from the four columns `Plate ID`, `Registration State`, `Vehicle Make`, and `Street Name`?

In [3]:
at_least_two_df = df.dropna(subset=['Plate ID', 'Registration State', 'Vehicle Make', 'Street Name'],
                           thresh=3)
df.shape[0] - at_least_two_df.shape[0]

253

# Beyond 2

Which of the columns that we've imported has the greatest number of `NaN` values?  Is this a problem?

In [4]:
# Vehicle color is most often empty. Is that a problem? Maybe not, assuming we almost always have a plate ID
df.isnull().sum()

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64

# Beyond 3

Null data is bad, but there is plenty of non-null bad data, too. For example, many cars with `BLANKPLATE` as a plate ID were ticketed. Turn these into `NaN` values, and then re-run the previous query.

In [5]:
# use df.replace to change Plate ID of BLANKPLATE to NaN, then drop any rows without at least
# three of our four columns non-null
no_blankplate_df = df.replace({'Plate ID':'BLANKPLATE'}, NaN).dropna(subset=['Plate ID', 
                                      'Registration State', 'Vehicle Make', 'Street Name'],  
                                thresh=3)
df.shape[0] - no_blankplate_df.shape[0]

944