In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
g = np.random.default_rng(0)
months = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()

s = Series(g.integers(40, 60, 10),
          index=months)
s

Sep    57
Oct    52
Nov    50
Dec    45
Jan    46
Feb    40
Mar    41
Apr    40
May    43
Jun    56
dtype: int64

In [3]:
s + (80 - s.mean())

Sep    90.0
Oct    85.0
Nov    83.0
Dec    78.0
Jan    79.0
Feb    73.0
Mar    74.0
Apr    73.0
May    76.0
Jun    89.0
dtype: float64