In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '../data/nyc_taxi_2019-01.csv'

df = pd.read_csv(filename,
                usecols=['passenger_count',
                         'trip_distance', 'total_amount'],
                dtype={'total_amount':np.float128})

df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [3]:
# Using a descending sort, find the average cost of the 20 longest 
# (in distance) taxi rides in January 2019.

df.sort_values('trip_distance', 
               ascending=False)['total_amount'].iloc[:20].mean()

290.01000000000000076

In [4]:
# Now using an ascending sort, find the average cost of the 20 longest
# (in distance) taxi rides in January 2019.  Specify "mergesort" as the 
# sorting algorithm.  Are the results any different?

df.sort_values('trip_distance')['total_amount'].iloc[-20:].mean()

290.01000000000000076

In [5]:
# Sort by ascending passenger count and descending trip distance.  (So we'll start
# with the longest trip with 0 passengers and end with the shortest trip with
# 6 passengers.)  What is the average price paid for the top 50 rides?
df.sort_values(['passenger_count', 'trip_distance'], 
              ascending=[True, False])['total_amount'].iloc[:50].mean()

135.49740000000000074